@model IEnumerable<ToucheMVCProject.Models.restaurant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}
<link href="~/Content/Customer.css" rel="stylesheet" />
<h1 class="search-heading">Find restaurants near you</h1>

<p>
    
</p>
<div class="form-container ">
<form action="/Customer/resturantsearchLocation" class="search-form " method="post" novalidate="novalidate">
    <input id="searchlocation" name="searchlocation" class="form-control search-bar" type="text"/>
    <input type="submit" value="Search" class="search-button">
</form>
</div>
<p>@ViewBag.errorMessage </p>


    