
@{
    ViewBag.Title = "searchform";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<h2>searchform</h2>
<form action="/Customer/orderLocationform" method="post" novalidate="novalidate">
    <input id="searchlocation" name="searchlocation" type="text" />
    <input type="submit" value="Search">
</form>


