@model IEnumerable<ToucheMVCProject.Models.Menu>

@{
    ViewBag.Title = "viewMenu";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>viewMenu</h2>

<p style="text-align:center">
    @Html.ActionLink("Add new menuitem", "addMenuItems")
</p>

<div class="gallery-container">
    @foreach (var item in Model)
    {
        <div class="gallery">
            <a target="" href="">
                <img src=@item.img alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">
                <h3 class="dish-name">
                    @item.dishName</h3>
                        <p> @item.vtype</p>
                        <p>@item.price</p>
                        
            </div>
        </div>
        
    }
</div>

    
