body {
    padding: 0;
    /*display: flex;
    justify-content: space-around;
    align-items: center;*/
    background-image: url("https://images.pexels.com/photos/1391487/pexels-photo-1391487.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    font-family: 'Dancing Script', cursive;
}

.body-content {
    background-color: #fffbf7;
}

.form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    /*background-color: #fffbf7;*/
}

div.gallery {
    margin: 30px;
    border: 1px solid #ccc;
    float: left;
    width: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

div.desc {
    padding: 15px;
    text-align: center;
}

.navigation {
    display: inline-block;
    background-color: #cc202e;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Dancing Script', cursive;
}

li {
    display: inline;
}

.a_top_hypers {
    text-decoration: none;
    padding: 20px;
    background-color: #cc202e;
    color: white;
    font-size: 20px;
}

    .a_top_hypers:hover {
        /*   background-color:white; */
        /*   color:#cc202e; */
        font-size: 23px;
        text-decoration: none;
        color: white;
    }

.brand {
    font-size: 40px;
    color: white;
}

footer {
    background-color: #cc202e;
    color: white;
}

.options {
    font-size: 5px;
}

.search-form {
    width: 400px;
    padding-bottom: 70px;
}

.search-button {
    display: inline-block;
    background-color: white;
    color: #cc202e;
    padding: 5px;
    width: 70px;
    border-color: red;
    border-radius: 5px;
    margin:5px;
}

.login-button {
    background-color: white;
    color: #cc202e;
    padding: 5px;
    width: 70px;
    border-color: red;
    border-radius: 5px;
    margin: 5px;
    /*margin-left:60px;*/
}

.search-bar {
display:inline-block;
}

.search-heading {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 70px;
}

.search-content {
position: absolute;
    top: 25%;
    left: 4%;
}

.heading {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    padding:10px;
}

.table {
    font-size: 20px;
}

th {
    font-weight:900;
}

.dish-name {
margin-top:0;
}

.dish-description {
    margin-top: 0;
}

.order-bar {
    width: 50px;
    border-radius: 10px;
}